    <form action="" id="form-logout" method="">

    </form>
   <!-- Section Footer -->
   <section class="footer">
        <div class="footer-info">
            <div class="thanks-wrapper">
                <h2 class="Poppins">Special thanks to</h2>
                <div class="instantiation-wrapper">
                    <div class="instantiation">
                        <div class="instantiation-header">
                            <div class="logo">  
                                <img class="logo-iitc" src="./public/images/IITC-LOGO.png" alt="">
                            </div>
                            <h4 class="Nunito-sans">IITC</h4>
                        </div>
                        <div class="instantiation-description">
                            <p class="Roboto">IITC (Intermedia Information Technology Competition) 2020 merupakan salah satu program kegiatan yang diselenggarakan oleh UKM INTERMEDIA UNIVERSITAS AMIKOM PURWOKERTO</p>
                        </div>
                    </div>
                    <div class="instantiation">
                        <div class="instantiation-header">
                            <div class="logo">  
                                <img src="./public/images/STIMIK-AMIKOM.png" alt="">
                            </div>
                            <h4 class="Nunito-sans">Universitas Amikom Purwokerto</h4>
                        </div>
                        <div class="instantiation-description">
                            <p class="Roboto">Universitas Amikom Purwokerto merupakan perguruan tinggi yang berkonsentrasi dibidang Teknologi dan Bisnis Digital. Dengan sarana dan prasarana yang lengkap ditunjang dengan dosen dan praktisi yang telah berpengalaman didunia pendidikan dan industri, siap menjawab tantangan generasi Millenial memasuki dunia kerja pada era revolusi industri 4.0.</p>
                        </div>
                    </div>
                    <div class="instantiation">
                        <div class="instantiation-header">
                            <div class="logo">
                                <img src="./public/images/logoInmed.png" alt="">
                            </div>
                            <h4 class="Nunito-sans">Intermedia</h4>
                        </div>
                        <div class="instantiation-description">
                            <p class="Roboto"> Intermedia merupakan suatu wadah untuk para mahasiswa sebagai tempat menggali potensi diri baik dalam hardskill maupun softskill dari mahasiswa itu sendiri.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="information-wrapper">
                <div class="info cofight">
                    <div>
                        <h6 class="Poppins">Cofight</h6><span></span>
                    </div>
                    <ul class="Poppins">
                        <li>&copy; <span id="year"></span></li>
                    </ul>
                </div>
                <div class="info">
                    <h6 class="Nunito-sans">Further Information</h6>
                    <ul class="Poppins">
                        <li><a href="./kebijakan-privasi.php">Kebijakan Privasi</a></li>
                        <li><a href="./kebijakan-privasi.php">Syarat & Penggunaan</a></li>
                    </ul>
                </div>
                <div class="info">
                    <h6 class="Nunito-sans">COVID-19 Official Website</h6>
                    <ul class="Poppins">
                        <li><a href="./kebijakan-privasi.php">COVID-19 Indonesia</a></li>
                        <li><a href="./kebijakan-privasi.php">WHO</a></li>
                        <li><a href="./kebijakan-privasi.php">WHO COVID-19</a></li>
                    </ul>
                </div>
                <div class="info">
                    <h6 class="Nunito-sans">The Organizer</h6>
                    <ul class="Poppins">
                        <li><a href="./kebijakan-privasi.php">Universitas Amikom Purwokerto</a></li>
                        <li><a href="./kebijakan-privasi.php">Intermedia</a></li>
                    </ul>
                </div>
                <div class="info">
                    <h6 class="Nunito-sans">Follow Us</h6>
                    <ul class="Poppins">
                        <li><a href="./kebijakan-privasi.php">Facebook</a></li>
                        <li><a href="./kebijakan-privasi.php">Instagram</a></li>
                        <li><a href="./kebijakan-privasi.php">Twitter</a></li>
                    </ul>
                </div>
                <div class="info iitc-logo">
                    <img src="./public/images/IITC-LOGO.png" alt="">
                    <h4 class="Nunito-sans">IITC WEB DESIGN COMPETITION</h4>
                </div>
            </div>
        </div>
        <div class="created-wrapper">
            <h6 class="Poppins">Created with <span>&hearts;</span> by Weebs Developer</h6>
        </div>
    </section>
    <!-- End of Section Footer -->

  <!-- Javascript -->
  <script src="./public/js/script.js"></script>
  <!-- End Of Javascript -->
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
</body>
</html>